In [3]:
import pandas as pd
import numpy as np
import seaborn as srs
import statistics as sts

In [4]:
ds = pd.read_excel("Sinopse_Estatistica_da_Educação_Basica_2022.xlsx", sheet_name=8)

ds.head(8)

,Voltar ao Sumário,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,MATRÍCULAS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Educação Básica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"1.3 – Número de Matrículas da Educação Básica,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Região Geográfica,Unidade da Federação,Município,Código do Município,Número de Matrículas da Educação Básica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,Total1-3,Sexo e Cor/Raça,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,Feminino,NaN,NaN,NaN,NaN,NaN,NaN,Masculino,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,Total,Não Declarada,Branca,Preta,Parda,Amarela,Indígena,Total,Não Declarada,Branca,Preta,Parda,Amarela,Indígena

In [5]:
ds.columns = ["Regiao_Geografica", "Unidade_da_Federacao", "Municipio", "Codigo_do_Municipio", "Matriculas_Total", "Matriculas_Fem_Total", "MF_Nao_Declarada", "MF_Branca", "MF_Preta", "MF_Parda", "MF_Amarela", "MF_Indigena", "Matriculas_Masc_Total", "MM_Nao_Declarada", "MM_Branca", "MM_Preta", "MM_Parda", "MM_Amarela", "MM_Indigena"]

ds.head()

,Regiao_Geografica,Unidade_da_Federacao,Municipio,Codigo_do_Municipio,Matriculas_Total,Matriculas_Fem_Total,MF_Nao_Declarada,MF_Branca,MF_Preta,MF_Parda,MF_Amarela,MF_Indigena,Matriculas_Masc_Total,MM_Nao_Declarada,MM_Branca,MM_Preta,MM_Parda,MM_Amarela,MM_Indigena
0,MATRÍCULAS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Educação Básica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"1.3 – Número de Matrículas da Educação Básica,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Região Geográfica,Unidade da Federação,Município,Código do Município,Número de Matrículas da Educação Básica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
ds = ds.drop( [0,1,2,3,4,5,6,7,8], 0)

C:\Users\AMD\AppData\Local\Temp\ipykernel_10472\166937033.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  ds = ds.drop( [0,1,2,3,4,5,6,7,8], 0)

In [13]:
ds = ds.drop([5612,5613,5614,5615,5616,5617], 0)
ds

,Regiao_Geografica,Unidade_da_Federacao,Municipio,Codigo_do_Municipio,Matriculas_Total,Matriculas_Fem_Total,MF_Nao_Declarada,MF_Branca,MF_Preta,MF_Parda,MF_Amarela,MF_Indigena,Matriculas_Masc_Total,MM_Nao_Declarada,MM_Branca,MM_Preta,MM_Parda,MM_Amarela,MM_Indigena
9,Brasil,,,,47382074,23405178,6451452,7527270,779916,8392889,79251,174400,23976896,6593168,7599433,812244,8713169,79167,179715
10,Norte,,,,4812754,2365448,743489,237865,40774,1256675,5464,81181,2447306,769926,230314,45610,1310608,5443,85405
11,Norte,Rondônia,,,391467,193160,36131,44901,4399,104141,925,2663,198307,37526,43739,4949,108428,929,2736
12,Norte,Rondônia,Alta Floresta D'Oeste,1100015,5060,2493,47,872,46,1328,4,196,2567,50,846,44,1444,4,179
13,Norte,Rondônia,Alto Alegre dos Parecis,1100379,2601,1279,15,375,43,805,21,20,1322,20,399,44,829,16,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5607,Centro-Oeste,Goiás,Vicentinópolis,5222054,1811,918,685,20,2,181,30,0,893,684,22,1,137,49,0
5608,Centro-Oeste,Goiás,Vila Boa,5222203,1221,603,233,47,29,290,4,0,618,216,45,39,313,5,0
5609,Centro-Oeste,Goiás,Vila Propício,5222302,1290,638,256,80,13,289,0,0,652,268,68,10,303,2,1
5610,Centro-Oeste,Distrito Federal,,,643698,319577,114158,79901,8907,114967,1306,338,324121,114634,80862,9397,117625,1290,313
5611,Centro-Oeste,Distrito Federal,Brasília,5300108,643698,319577,114158,79901,8907,114967,1306,338,324121,114634,80862,9397,117625,1290,313

In [16]:
ds.to_csv("Matriculas_Educacao_Basica_Sexo_Raca.csv", sep = ',', encoding='latin-1')