In [1]:
import pandas as pd
import numpy as np
import seaborn as srs
import statistics as sts

In [3]:
ds = pd.read_csv("PDA_SECADI_Escola_Acessivel.csv", sep=",")

ds.head()

,TOTAL_REGISTOS,ESCOLA,INEP,ANO,VALOR_DESTINADO
0,1,CIEP 208 ALCEU AMOROSO LIMA,33049700,2019,"R$ 15.000,00"
1,1,EE PADRE ARLINDO IGNACIO DE OLIVEIRA,51089432,2019,"R$ 9.960,00"
2,1,EE PRESIDENTE TANCREDO DE ALMEIDA NEVES,31020265,2019,"R$ 12.000,00"
3,1,ESCOLA ESTADUAL SATURNINO MARAES NETO,13096656,2018,"R$ 15.000,00"
4,1,ESC EST ENS FUN GASTON AUGUSTO SANTOS CESAR CIEP,43171605,2019,"R$ 12.000,00"